<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>nzvry.znegva@tznvy.pbz</string>
	<key>contactName</key>
	<string>Amiel Martin</string>
	<key>description</key>
	<string>Uses Jamis Bucks fuzzy file finder: http://github.com/jamis/fuzzy_file_finder/tree/master</string>
	<key>name</key>
	<string>GoToFile</string>
    <key>uuid</key>
    <string>4A51CFD1-BBCD-4F91-8AD1-8F250A99E25E</string>
</dict>
</plist>
