/* CSS Styles for GoToFile TextMate Bundle */

/* Window Styling */
html, body
{ 
	margin: 0; 
	padding: 0; 
}

/* Header */
#head
{
	background: #e5e5e5;
	border-bottom: 1px solid #ccc;
	height: 40px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 5;
}

#head input#search
{
	margin: 11px 5% 0 5%;
	width: 90%;
	-webkit-appearance: searchfield;
}

/* Search Results */
#result
{
	margin-top: 41px;
}

.file
{
	padding: 4px;
}

.file:nth-child(odd)
{
	background: #ECF3FE; 
}

.file:hover
{
	background: #ECF3FE;
}

.file .score_wrapper
{
	background: #fff;
	border: 1px solid #999;	
	float: left;
	height: 8px;
	margin-top: 2px;	
	padding: 1px;		
	width: 15%;
	-webkit-border-radius: 2px;
}

.file .in_wrapper
{
	display: none;
	height: 6px;
}

.file .score
{
	background-color: #1553AA;
	height: 100%;
	width: 1%;
	-webkit-border-radius: 2px;	
}

.in {
border: 0px;
font-size: 8pt;
color: #ffffff;
height: 6px;
}

.highlight {
color: #fff;
background-color: #3875d7;
}



.mylink {
padding-left: 1.25em;
display: block;
width: 75%;
overflow: hidden;
color: #111;
font-size: 9pt;
cursor: pointer;
white-space: nowrap;
}

