/* CSS Styles for GoToFile TextMate Bundle */

/* Window Styling */
html, body
{ 
	margin: 0; 
	padding: 0; 
}

/* Header */
#head
{
	background: #e5e5e5;
	border-bottom: 1px solid #ccc;
	height: 40px;
	padding: 0 5px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 5;
}

#head input
{
	margin-top: 11px;
	width: 50%;
	-webkit-appearance: searchfield;
	text-indent: 5px;
	margin-left: 20%;
}

#head span {
font-size: 7pt;
z-index: 107;
text-align: center;
position: absolute;
top: 2px;
left: 5px;
display: block;
background: red;
height: 500px;width: 500px;
}

/* Search Results */

.file {
padding: 4px;
margin-left: 0;
}

.file:nth-child(odd){ background: #ECF3FE; }
.file .score_wrapper {
float: left;
width: 20%;
height: 8px;
border: 1px solid #ccc;
padding: 1px;
margin-top: 2px;
background: #fff;
}

.file .in_wrapper {
float: left;
width: 5px;
height: 6px;
display: none;
}
.file .score {
background-color: #666;
width: 1%;
height: 100%;
}

.in {
border: 0px;
font-size: 8pt;
color: #ffffff;
height: 6px;
}

.highlight {
color: #222;
background-color: #ffc;
}

#result {
	margin-top: 41px;
	width: 100%;
}

.mylink {
padding-left: 1.25em;
display: block;
width: 75%;
overflow: hidden;
color: #111;
font-size: 9pt;
cursor: pointer;
white-space: nowrap;
}

