/* CSS Styles for GoToFile TextMate Bundle */

/* Window Styling */
html, body
{ 
	margin: 0; 
	padding: 0; 
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

/* Header */
#head
{
	background-color: #666;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABQCAYAAADvCdDvAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOhJREFUeNrs3UuKAkEURUELyi+KioXoWt27qYtwcMA40Bu4wUsoJz2NMV4rZZq/f2sztEDeZmiBDDMAERAgAgJEQIDIh6ELkQuRCwEiT5YLkQsBIk+WC5ELkQsBIk+WCxEQT5ZcCBABERAgAgJEvkNciIAAERABASIgQAQEiID8H4jfslyIgAARECACAkS+Q1yIgMiT5UIExJOlnzaNMZ5maIE8zNACuZuhBbKYoQVyM0ML5GqGFsjFDC2QsxlaICcztECOZmiBHMzQAtmboQWyM0MLZGuGFsjGDC0Q/5w4BjKbodNHgAEA3LJ02F62uMsAAAAASUVORK5CYII=);
	border-bottom: 1px solid #666;
	height: 40px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 5;
}

#head input#search
{
	margin: 11px 5% 0 5%;
	width: 90%;
	-webkit-appearance: searchfield;
}

/* Search Results */
#result
{
	margin-top: 41px;
}

.file
{
	padding: 4px;
}

.file:nth-child(odd)
{
	background: #ECF3FE;
}

.file:hover
{
	background: #DAE8FE;
}

.file:nth-child(odd):hover
{
	background: #C9DDFE;
}

.file .score_wrapper
{
	background: #fff;
	border: 1px solid #999;
	float: left;
	height: 6px;
	margin-top: 2px;
	padding: 1px;
	width: 15%;
}


.file .score
{
	background-color: #1553AA;
	height: 100%;
	width: 1%;
}

.mylink
{
	color: #111;
	cursor: pointer;
	font-size: 8.5pt;
	overflow: hidden;
	padding-left: 2%;
	width: 75%;
	white-space: nowrap;
	display: block;
}

.fuzzyff_match
{
	background-color: #ffa;
}

/* Current Selection */
.selected, .file.selected:nth-child(odd), .file.selected:hover
{
	background-color: #1553AA; 
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADVJREFUeNpi/P//fwQDjQELEP8btYQUS/4OG0tGg2vwWfJnNLhGg2s0uEYjfjS4hrMlAAEGAHZHG24TN7qTAAAAAElFTkSuQmCC);
}

.selected .mylink
{
	color: #fff; 
}

.selected .fuzzyff_match
{ 
	background: transparent;
	text-decoration: underline; 
}

/* Notices */
.notice
{
	background-color: #fc0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADVJREFUeNpi/P//fwQDjQELEP8btYQUS/4OG0tGg2vwWfJnNLhGg2s0uEYjfjS4hrMlAAEGAHZHG24TN7qTAAAAAElFTkSuQmCC);
	border-bottom: 1px solid #fc0;
	font-size: 9pt;
	font-weight: bold;
	padding: 1% 2%;
}

/* Error Message */
.error
{
	background-color: #fc0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADVJREFUeNpi/P//fwQDjQELEP8btYQUS/4OG0tGg2vwWfJnNLhGg2s0uEYjfjS4hrMlAAEGAHZHG24TN7qTAAAAAElFTkSuQmCC);
	border-bottom: 1px solid #fc0;
	font-size: 9pt;
	font-weight: bold;
	color: #ff0000;
	padding: 1% 2%;
}

/*Progress spinning wheel*/
#progress {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 10%;
	height: 10%;
	margin: auto;
	z-index: 8;
}
.progress_image {
	width: 56px;
}
